*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aquamarine;
    height: 40px;
    padding: 5px;
}
.titolo{
    display: flex;
    width: 50%;
    background-color: orange;
    margin-left: 25%;
    align-self: center;
}
.logo{
    padding: 5px;
    border: 2px dashed black;
    width: 20%;
}
.menu{
    padding: 5px;
    border: 2px dashed black;
    width: 60%;
    
}
.login{
    padding: 5px;
    border: 2px dashed black;
    width: 20%;
}
a{
    list-style: none;
}

.conteiner{
    display: flex;
    height: 500px;
    width: 100%;
}
.blue{
    background-color: rgb(3, 3, 146);
}
.white{
    background-color: white;
}
.lightgrey{
    background-color: lightgrey;
}
.lightblue{
    background-color: rgb(89, 89, 248);
}
.lightpink{
    background-color: rgb(226, 175, 183);
}

.dowload{
    height: 300px;
    width: 50%;
    background-color: pink;
    margin-left: 25%;
    border: 2px dashed black;
    margin-top: 6rem;
}

.text{
    height: 400px;
    width: 45%;
    
    margin-left: 15%;
    border: 2px dashed black;
    margin-top: 3rem;
}
.banner{
    height: 400px;
    width: 25%;
    
    border: 2px dashed black;
    margin-top: 3rem;
}
.text2{
    height: 400px;
    width: 45%;
    
    
    border: 2px dashed black;
    margin-top: 3rem;
    }
.banner2{
    height: 400px;
    width: 25%;
    margin-left: 15%;
    border: 2px dashed black;
    margin-top: 3rem;
    }