*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.debug .bar{
    background-color: aquamarine;
    height: 40px;
}
.debug .p5{
    padding: 5px;
}
.titolo{
    display: flex;
    width: 50%;
    margin-left: 25%;
    align-self: center;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
    text-align: center;
}
.login{
    text-align: end;
    width: 20%;
}


.container{
    display: flex;
    height: 500px;
    width: 100%;
}

.debug .b2{
    border: 2px dashed black;
}
.debug .orange{
    background-color: orange;
}
.debug .blue{
    background-color: rgb(3, 3, 146);
}
.debug .white{
    background-color: white;
}
.debug .lightgrey{
    background-color: lightgrey;
}
.debug .lightblue{
    background-color: rgb(89, 89, 248);
}
.debug .lightpink{
    background-color: rgb(226, 175, 183);
}
.debug .darkgrey{
    background-color: rgb(59, 58, 58);
}
.debug .green{
    background-color: green;
}
.debug .lightgreen{
    background-color: rgb(45, 141, 45);
}
.debug .pink{
    background-color: pink;
}
.debug .aqua{
    background-color: aqua;
}

.dowload{
    height: 300px;
    width: 50%;
    margin-left: 25%;
    margin-top: 6rem;
}

.text{
    height: 400px;
    width: 45%;
    margin-left: 15%;
    margin-top: 3rem;
}
.banner{
    height: 400px;
    width: 25%;
    margin-top: 3rem;
}
.text2{
    height: 400px;
    width: 45%; 
    margin-top: 3rem;
    }
.banner2{
    height: 400px;
    width: 25%;
    margin-left: 15%;
    margin-top: 3rem;
    }
.container_plus{
    display: flex;
    height: 1000px;
    width: 100%;
}
.dowload2{
    height: 800px;
    width: 70%;
    margin-left: 200px;
    margin-top: 7rem;   
}
.top{
    display: flex;
    height: 500px;
    width: 100%;  
    margin-bottom: 2px ;
}

.contatti{
    height: 480px;
    width: 350px;
    margin-top: 0.5rem;
    margin-left: 200px;

}
.prodotto{
    height: 480px;
    width: 150px;
    margin-top: 0.5rem;

}
.compagnia{
    height: 480px;
    width: 150px;
    margin-top: 0.5rem;
}
.risorse{
    height: 480px;
    width: 150px;
    margin-top: 0.5rem;
}
.norme{
    height: 480px;
    width: 150px;
    margin-top: 0.5rem;
}
.bottom{
    width: 100%;
    height: 50px;
}
.container3{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 70%;
    height: 40px;
    margin-left: 15%;
}
.logo2{
    width: 50px;
    height: 20px;
}
.bottone{
    width: 50px;
    height: 20px;
}


